language: php
php:
    - 5.3
    - 5.4

env:
  - SYMFONY_VERSION=v2.0.13
  - SYMFONY_VERSION=origin/master

before_script:
  - cp app/config/config.yml.dist app/config/config.yml
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - cp app/config/security.yml.dist app/config/security.yml
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install

script: 
 - phpunit -c app/
