<%
	var specialFolders = {
			INBOX: {name:'Caixa de Entrada'}, 
			Inbox: {name:'Caixa de Entrada'}, 
			Root : {name:'root'}
		};
	specialFolders[trashfolder] = {name:'Lixeira', classe:'trash'};
	specialFolders[draftsfolder] = {name:'Rascunhos', classe:'drafts'};
	specialFolders[spamfolder] = {name:'Spam', classe:'spam'};
	specialFolders[sentfolder] = {name:'Enviados', classe:'sent'};
%>

<span class="float-menu">
	<span class="ui-icon ui-icon-document float-menu-new floating-default" title="Nova Pasta"></span>  
	<%if(!specialFolders[data.name_folder]){ %>
		<span class="ui-icon ui-icon-pencil float-menu-edit floating-default" title="Editar Pasta"></span>  
		<span class="ui-icon ui-icon-close float-menu-remove floating-default" title="Excluir Pasta"></span>  
	<%} 
	else if(data.name_folder == trashfolder){%>
		<span class="ui-icon ui-icon-trash float-menu-clean floating-default" onclick="empty_trash_imap();" title="Limpar Pasta"></span>  
	<%}
	else if(data.name_folder == spamfolder){%>
		<span class="ui-icon ui-icon-trash float-menu-clean floating-default" onclick="empty_spam_imap();" title="Limpar Pasta"></span>  
	<%}%>
	
 </span>